.footer {
    width: 100%;
    padding: 1rem $p-sides;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid cyan;

    &__logobox {
        font-size: 1.2rem;
        margin: auto 0;
    }

    &__logo {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        text-decoration: none;
        color: $font-color;

        @include respond(large-tab) {
            font-size: 1.4rem;
        }

        @include respond(small-tab) {
            font-size: 1.2rem;
        }
    }

    &__heading3 {
        font-size: 1.2rem;
    }

    &__logo-img {
        background-color: $color-white--light;
        padding: .5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-left: .5rem;

        @include respond(large-tab) {
            padding: 0.3rem;
        }
    }
}