.hidden {
    display: none;
}

.nav {
    width: 35%;

    @include respond(small-tab-portrait) {
        display: none;
    }

    &__list {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        list-style: none;

        a {
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
            color: $font-color;

            @include respond(large-tab) {
                font-size: .8rem;
            }
        }

    }

    &__smalldevices {
        display: none;
        position: absolute;
        top: rem;
        right: 2rem;
        z-index: 500;

        img {
            width: 3rem;

            @include respond(small-tab-portrait) {
                width: 2rem;
            }
        }

        @include respond(small-tab-portrait) {
            display: block;
        }
    }
}