.btn {

    &__search-homepage {
        width: 3rem;
        height: 3rem;
        border: none;
        cursor: pointer;

        img {
            width: 2.2rem;
        }
    }

    &__movieCard-box {
        font-size: 1.4;
        color: $color-white--light;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        outline: none !important;
        border: none;
    }

    &__addWatchlist {
        font-size: 1.4rem;
        margin-top: 3rem;

    }

    &__movieList {
        color: white;
        font-size: 1.1rem;
        width: 10rem;
        height: 4rem;
        padding: 1rem;
        box-shadow: 0 0 0.6rem 0.05rem rgba(75, 123, 236, 0.7);
        outline: none !important;
        border: none;
        margin: 2rem 0;
        border-radius: 2rem;
        position: absolute;
        top: 60%;

        &:hover {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            color: $color-blue;
            box-shadow: $box-shadow--btn-white;
        }

    }

    &__movieCard,
    &__teamCard,
    &__movieCardAdded {
        display: block;
        width: 5rem;
        height: 5rem;
        padding: .5rem;
        background-color: transparent;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        color: $color-white--light;
        font-size: 3rem;
        border: 3px solid $color-blue;
        transition: .5s all;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -ms-transition: .5s all;
        -o-transition: .5s all;
        cursor: pointer;


        @include respond(small-tab) {
            margin-bottom: 2rem;
        }

        &:hover {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            color: $color-blue;
            box-shadow: $box-shadow--btn-white;
        }


    }



    &__movieCard {
        margin-top: 3rem;
    }

    &__teamCard {
        margin-top: 1rem;
    }

    &__movieCardAdded {
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        margin-top: 2rem;

        &:hover {
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            -webkit-transform: none;
            color: inherit;
            box-shadow: $box-shadow--btn-blue;
        }
    }
}