.error {
    color: $color-error;
    font-weight: 300;
    padding: 2rem;
    text-align: center;

    &__container {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem
    }
}