.movieCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $color-black--light;
  padding: 3rem;
  box-shadow: rgba(255, 255, 255, .2) 0px 0px 1rem .2rem;


  @include respond(small-tab) {
    width: 80%;
    padding: 0;
  }

  @include respond(large-tab-portrait) {
    width: 85%;
    overflow: hidden;
  }

  @include respond(small-tab-portrait) {
    width: 100%;
  }


  &__summary {
    width: 100%;
    height: 40rem;
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;

    @include respond(large-tab) {
      height: 50rem;
    }

    @include respond(small-tab) {
      width: 100%;
      height: auto;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }
  }

  &__imgBox {
    width: 40%;
    height: 100%;
    border: .5px solid $color-white--lighter;
    padding: 1rem;

    @include respond(small-tab) {
      width: 100%;
      height: auto;
      padding: 6rem;
    }

    @include respond(large-tab-portrait) {
      padding: 3rem;
    }


    @include respond(phone) {
      padding: 1rem;
    }

    img {
      width: 100%;
      height: 100%;

      @include respond(large-tab) {
        height: 85%;
      }

      @include respond(small-tab) {
        width: 100%;
        height: auto;
      }

      @include respond(x-small-phone) {
        width: auto;
      }
    }
  }

  &__detailBox {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 0;
    justify-content: space-evenly;
    gap: 1.5rem;

    @include respond(small-tab) {
      width: 100%;
      padding: 2rem;
    }

    @include respond(phone) {
      padding: 2rem 1rem;
    }


  }

  &__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;

  }

  &__detail {
    &:last-child {
      background-color: $color-blue--light;
      padding: .5rem
    }
  }


  &__heading {
    padding-bottom: 1rem;
    border-bottom: .1rem solid $color-white--lighter;
  }

  &__description {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    border-bottom: .1rem solid $color-white--lighter;

  }

  &__genre {
    display: flex;
    align-items: centre;
    font-size: 1.1rem;
    font-weight: 500;


    span {
      margin-right: 2rem;
    }

  }

  &__crew {
    font-size: 1rem;
    font-weight: 300;

    p {
      span {
        margin-right: 1rem;
      }
    }
  }

}