.teamCard {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem 0;
    gap: 6rem;
    border: 10px solid #ffffff33;
    padding: 5rem 1rem;

    @include respond(small-tab) {
        margin: 3rem 0;
    }

    &__member {
        display: flex;
        gap: 2rem;

        @include respond(small-tab-portrait) {
            flex-direction: column;
            align-items: center;
        }


    }

    &__img {
        width: 10rem;
    }

    &__details {
        border-left: .01px solid $color-electric-blue;
        padding-left: 3rem;

        @include respond(small-tab-portrait) {
            flex-direction: column;
            border-left: none;
            padding-left: 0;
        }

        h3 {
            border-bottom: .01px solid $color-electric-blue--light;
            padding: 1rem 0;
        }

        p {
            padding: 1rem 0;
        }

        p:not(:last-child) {
            border-bottom: .01px solid $color-electric-blue--light;
        }


    }
}