// Stylings for about and team page
.page {
    width: 100%;

    &__about-bg {
        background-image: $bg-aboutme;
    }

    &__bg {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    &__heading-box {
        height: 23rem
    }

    &__contents {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 47% 50%;
        row-gap: 2.5rem;
        column-gap: 3%;
        padding: 5rem 3rem;

        @include respond(large-tab) {
            grid-template-rows: auto auto auto;
            grid-template-columns: 100%;
            column-gap: 0;
        }

        @include respond(small-tab-portrait) {
            padding: 4rem 2rem;
        }

        @include respond(small-phone) {
            padding: 3rem 0.5rem;
        }

        @include respond(phone) {
            padding: 1rem;
            row-gap: 1rem;
        }

    }

    &__content1 {
        grid-row: 1/2;
        grid-column: 1/2;
        font-weight: 200;

        @include respond(large-tab) {
            grid-column: 1/1;
            grid-row: 1/2;
        }
    }

    &__textBox {
        background-color: $color-grey--light;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

    }

    &__text--large {
        height: 8rem;
        align-self: flex-start;
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 10px;
        color: $color-black;
        border-top: 10px solid $color-black;
        border-bottom: 10px solid $color-black;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(large-tab) {
            width: 100%;
            text-align: center;
        }

        @include respond(phone) {
            font-size: 4rem;
        }

        @include respond(small-phone) {
            font-size: 3rem;

        }
    }

    &__content2 {
        grid-row: 1/2;
        grid-column: 2/3;
        background-color: $color-black;
        padding: 2rem;

        @include respond(large-tab) {
            grid-column: 1/1;
            grid-row: 2/3;
        }

        @include respond(phone) {
            padding: 1rem;
        }
    }

    &__description {
        &--1 {
            font-size: 1.2rem;
        }

        &--2,
        &--3 {
            font-size: 1.2rem;
            font-weight: 200;
            margin-top: 1.2rem;

            @include respond(phone) {
                margin-top: .8rem;
            }
        }

    }

    &__content3 {
        grid-row: 2/3;
        grid-column: 1/3;
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1.2rem;
        font-weight: 200;
        padding: 1rem;
        background-color: $color-white--lighter;

        @include respond(large-tab) {
            grid-column: 1/1;
            grid-row: 3/4;
        }

        @include respond(phone) {
            flex-direction: column;
            padding: 1rem;
            margin-top: 1rem;
            text-align: center;
        }
    }

    &__details--1 {
        img {
            height: 3rem;
        }

    }

    &__details--2 {
        padding: 1rem;
        font-weight: 200;

        @include respond(phone) {
            padding: 0;
        }

    }

    &__bold {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0 .8rem
    }
}