.team {
    &__bg {
        background-image: $bg-team;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    &__contents {
        display: grid;
        grid-template-columns: 47% 50%;
        grid-template-rows: auto auto auto;
        row-gap: 3rem;
        column-gap: 3%;
        padding: 5rem 3rem;

        @include respond(large-tab) {
            grid-template-rows: auto auto auto auto;
            grid-template-columns: 100%;
            column-gap: 0;
            row-gap: 0;
        }

        @include respond(small-tab-portrait) {
            padding: 4rem 2rem;
        }

        @include respond(small-phone) {
            padding: 3rem 0.5rem;
        }

        @include respond(phone) {
            padding: 1rem;
            row-gap: 1rem;
        }
    }

    &__content1 {
        grid-row: 1/2;
        grid-column: 1/2;
        background-color: $color-grey--light;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        @include respond(large-tab) {
            grid-row: 1/2;
            grid-column: 1/1;
        }

        @include respond(small-tab) {

            align-self: center;
        }

        @include respond(large-tab-portrait) {}

        @include respond(small-phone) {}

    }

    &__text--large {
        height: 8rem;
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 10px;
        color: $color-black;
        border-top: 10px solid $color-black;
        border-bottom: 10px solid $color-black;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond(large-tab) {
            width: 100%;
            text-align: center;
        }

        @include respond(phone) {
            font-size: 4rem;
        }

        @include respond(small-phone) {
            font-size: 3rem;

        }
    }

    &__content2 {
        grid-row: 1/3;
        grid-column: 2/3;
        background-color: $color-white--lighter;

        @include respond(large-tab) {
            grid-row: 2/3;
            grid-column: 1/1;
            padding: 4rem 2rem;
        }

        @include respond(small-phone) {
            padding: 1rem;
        }
    }

    &__skills {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &__skillBox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        @include respond(small-tab) {
            gap: 2rem;
        }

        @include respond(phone) {
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__skill {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 5px solid $color-white--lighter;
        color: $color-electric-blue;
        box-shadow: 0 0 1rem 0.0003rem $color-electric-blue;
        background-color: $color-black--light;
    }

    &__content3 {
        grid-row: 2/3;
        grid-column: 1/2;
        font-size: 1.1rem;
        font-weight: 200;
        hyphens: auto;
        background-color: $color-black;
        padding: 2rem;

        @include respond(large-tab) {
            grid-row: 3/4;
            grid-column: 1/1;
        }

        @include respond(small-phone) {
            padding: 1rem;
        }
    }



    &__description {
        text-align: center;

    }

    &__content4 {
        grid-row: 3/4;
        grid-column: 1/3;


        @include respond(large-tab) {
            grid-row: 4/5;
            grid-column: 1/1;
        }

        @include respond(small-tab) {
            margin: 3rem 0;
        }

        &__member {
            display: flex;
            gap: 2rem;

            @include respond(small-tab-portrait) {
                flex-direction: column;
                align-items: center;
            }


        }

        &__img {
            width: 10rem;
        }

        &__details {
            border-left: .01px solid $color-electric-blue;
            padding-left: 3rem;

            @include respond(small-tab-portrait) {
                flex-direction: column;
                border-left: none;
                padding-left: 0;
            }

            h3 {
                border-bottom: .01px solid $color-electric-blue--light;
                padding: 1rem 0;
            }

            p {
                padding: 1rem 0;
            }

            p:not(:last-child) {
                border-bottom: .01px solid $color-electric-blue--light;
            }


        }

    }
}