.holder {

    margin: 0 auto;
    display: inline-block;

}

.left {

    position: absolute;
    left: 1%;
    top: 9%;
    float: left;

}

.right {

    position: absolute;
    right: 1%;
    top: 9%;


}