* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: transparent;
}

html {
   height: 100%;
}

body {
   height: 100%;
   background-image: $bg-main;
   background-repeat: repeat;
   word-spacing: .5rem;
   background-position: top;
   position: relative;
   z-index: 0;
}

.root {
   height: 100%;
}

.App {
   color: $font-color;
   font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.3rem;
   font-weight: 100;
   line-height: 1.7;
   letter-spacing: 1px;
}

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   @include respond(small-tab) {
      padding: 0
   }

}