* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: transparent;
}

body {
   background-image: $bg-main;
   background-repeat: repeat;
   word-spacing: .5rem;
   background-position: top;

}

.App {
   color: $font-color;
   font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.3rem;
   font-weight: 100;
   line-height: 1.7;
   //background-color: $color-black--lighter;
}

.main {
   //margin-top: 5rem;

}