.heading {
    &__3 {
        width: 100%;
        font-size: 2rem;
        margin-top: 3rem;
        padding: 1rem 0;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 400;
        background-color: $color-white--lighter;

        @include respond (large-tab-portrait) {
            font-size: 1.6rem;
            margin: 0 .5rem
        }
    }

    &__img {
        width: 100%;
        text-align: center;


        @include respond(large-tab-portrait) {
            margin-top: 2rem;
        }

        img {
            width: 3rem;
            height: 3rem;
            margin-top: 2.5rem;
            margin-right: 1rem;

            @include respond(large-tab-portrait) {
                margin-top: 0;
            }
        }


    }

    &__hero {
        font-size: 4rem;
        position: absolute;
        top: 15rem;
        right: 6rem;
        transform: translateY(-50%);
        color: $color-white--light;
        border-bottom: 10px solid $color-red;

        @include respond(small-tab) {

            margin-top: 2rem;
            right: 50%;
            text-align: center;
            transform: translateX(50%) translateY(-50%);
            -webkit-transform: translateX(50%) translateY(-50%);
            -moz-transform: translateX(50%) translateY(-50%);
            -ms-transform: translateX(50%) translateY(-50%);
            -o-transform: translateX(50%) translateY(-50%);

        }

        @include respond (small-tab-portrait) {
            font-size: 3rem;
        }


        @include respond (small-phone) {
            font-size: 2.5rem;
        }


    }
}